<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.1/phpunit.xsd"
         backupStaticAttributes="true"
         colors="true"
         bootstrap="Bootstrap.php"
>
    <testsuites>
        <testsuite name="Unit Test Suite">
            <directory>./Unit/</directory>
        </testsuite>
    </testsuites>
</phpunit>